* {
    margin: 0%;
    padding: 0%;
}
#titulo{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 7%;
}
#titulo2{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 10%;
}
#check{
    display: inline-block;
}
fieldset{
    border: 0%;
}
body{
    background-color: rgb(rgb(141, 40, 40),);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: white;
    margin-left:36%;
    margin-top: 2%;
    justify-content: center;
}
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #6d1a14;
    border-radius: 5px;
}